/* Layout */


body{
    font-family: 'Smythe',Verdana, Geneva, Tahoma, sans-serif;
    margin:0;

}

header{
    background-image: url("/images/background-img.jpeg");
  
    height: 167PX;
    padding: 80px;
    background-size: cover;
    background-position: center;
  
  }
 

  #container{
    display: flex;
    flex-direction: column;

   

  
    
  }

  .menu{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding:   20px;
   
  


  
    
  }
.menu-img{
   margin: auto 0px;
   font-size:100px;
   width: 100px;
 


}

.item-info{

    min-width: 30%;
    padding: 20px;
}

#add-icon{
    border: 2px solid #b8b8b8;
    padding: 25px;
    margin:auto 0px;
    border-radius: 80px;
    cursor: pointer;
  
    
    
}

#add-icon:hover{
    background-color: grey;
}

.item-name, .item-price{
    font-size: 28px;
    line-height: 16px;
 
}

.item-contains{
    font-size: 20px;
    line-height: 24px;
    color: #8B8B8B;
}

#order-details{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

hr{

width: 50%;
height:2px;
color: #b8b8b8;
background-color: #b8b8b8;
border-radius: 20px;

}

.price{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 
}

.rate{
    margin-left: 300px;
}

.btn{
    width: 500px;
    height: 60px;
    margin: 40px;
    color: white;
    background-color: #16DB99;
    border: none;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

  /* Typography */
header h1{
    font-size: 40px;
    color: white;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}
.price h1{text-align: center;}
h2{
    font-size: 23px;
    color: white;
    line-height: 14px;
    font-weight: 400;
}
 p{
    font-size: 22px;
}
.remove{
    color: #BBBBBB;
    font-size: 18px;
    line-height: 24px;
  margin-left: 30px;
}

.remove:hover{
    color:red;
    cursor: pointer;
    
}