/* Layout */


body{
    font-family: 'Smythe',Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    

}

header{
    background-image: url("/images/background-img.jpeg");
  
    height: 167px;
    padding: 80px;
    background-size: cover;
    background-position: center;
  
  }
 

  #container{
    display: flex;
    flex-direction: column;

   

  
    
  }

  .menu{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding:   20px;
   
  


  
    
  }
.menu-img{
   margin: auto 0px;
   font-size:100px;
   width: 100px;
 


}

.item-info{

    min-width: 30%;
    padding: 20px;
}

#add-icon{
    border: 2px solid #b8b8b8;
    padding: 25px;
    margin:auto 0px;
    border-radius: 80px;
    cursor: pointer;
  
    
    
}

#add-icon:hover{
    background-color: grey;
}

.item-name, .item-price{
    font-size: 28px;
    line-height: 16px;
 
}

.item-contains{
    font-size: 20px;
    line-height: 24px;
    color: #8B8B8B;
}

#order-details{
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;


}

.menu-items {
width: 50%;
padding: 10px 0px;
   
}

.total-amount {
    margin-left: 520px; /* or however much gap you want */
}

.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-actions {
    display: flex;
  
    align-items: center;
}

.item-name {
    font-size: 28px;
    font-weight: 500;
}

.rate {
    font-size: 20px;
    font-weight: bold;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.total hr{
    width: 100%;
}
hr{

width: 50%;
height:2px;
color: #b8b8b8;
background-color: #b8b8b8;
border-radius: 20px;

}



 .btn{
    width: 500px;
    height: 60px;

    color: white;
    background-color: #16DB99;
    border: none;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

  /* Typography */
header h1{
    font-size: 40px;
    color: white;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}

h2{
    font-size: 23px;
    color: white;
    line-height: 14px;
    font-weight: 400;
}
 p{
    font-size: 22px;
 
}
.remove{
    color: #BBBBBB;
    font-size: 18px;
    line-height: 24px;

}

.remove:hover{
    color:red;
    cursor: pointer;
    
}

input{
    width: 80%;
    padding: 20px;
    margin: 10px;
}


#pay-form{
    display: none;
font-family: Arial, Helvetica, sans-serif;

align-items: center;
justify-content: space-between;
flex-direction: column;
width: 500px;
height: 550px;
border:1px solid grey;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
}
.close-card-btn-container{
    position: absolute;
    top: 10px;
    right: 10px;
}
#card-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
    cursor: pointer;
    
  }
  
 #card-close-btn:hover,
#card-close-btn:active{
      color: red;
      cursor: pointer;
  }


  #complete{
    height: 50px;
    width: 50%;
    background-color: #ECFDF5;
    font-size: 40px;
    color: #065F46;
    text-align: center;
    margin-bottom: 50px;
  }